/* Footer */
.footer {
  background-color: var(--dark-gray);
  color: var(--white);
  padding: 3rem 1.5rem 1.5rem;
}

.footer__content {
  max-width: 440px;
  margin: 0 auto 2rem;
}

.footer__logo {
  margin-bottom: 2rem;
  height: 50px;
  display: flex;
  align-items: center;
}

.footer__logo img {
  height: 130%;
  width: auto;
}

.footer__section {
  margin-bottom: 2rem;
}

.footer__title {
  font-size: var(--font-size-card-title);
  color: var(--primary-red);
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.footer__sub {
  font-family: "Bebas Neue";
  font-size: 1rem;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

.footer__sectionTitle {
  font-family: "Bebas Neue";
  font-size: 1.5rem;
  font-style: normal;
  color: #FF5733;
  margin-bottom: 1rem;
  font-weight: 200;
}

.footer__navlinks {
  margin-bottom: 2rem;
}

.footer__navlinks ul {
  list-style: none;
}

.footer__navlinks li {
  margin-bottom: 0.5rem;
}

.footer__navlinks a {
  font-family: "Bebas Neue";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  color: var(--white);
  text-decoration: none;
  font-size: var(--font-size-texte-m);
  transition: color 0.3s ease;
}

.footer__navlinks a:hover {
  color: var(--secondary-yellow);
}

.footer__contactTitle {
  font-family: "Bebas Neue";
  font-size: 1.5rem;
  font-style: normal;
  color: #FF5733;
  margin-bottom: 1rem;
  font-weight: 200;
}

.footer__contactlinks {
  margin-bottom: 2rem;
}

.footer__contactlinks ul {
  list-style: none;
}

.footer__contactlinks li {
  margin-bottom: 0.5rem;
  font-family: "Bebas Neue";
  
}

.footer__contactlinks a {
  font-family: "Bebas Neue";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  color: var(--white);
  text-decoration: none;
  font-size: var(--font-size-texte-m);
  transition: color 0.3s ease;
}

.footer__contactlinks a:hover {
  color: var(--secondary-yellow);
  
}

.footer__bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 1.5rem;
  text-align: center;
  font-size: var(--font-size-texte-s);
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 768px) {
  .footer {
    padding: 2rem 1rem 1rem;
  }

  .footer__content {
    margin-bottom: 1.5rem;
  }

  .footer__links ul {
    grid-template-columns: repeat(2, 1fr);
  }
}


