
section {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

section + section {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}

.partners__logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.partners__logos img {
  max-width: 150px;
  height: auto;
}

.partner__title {
  text-align: center;
  margin-top: 2rem;
  color: var(--primary-orange);
  font-size: 2rem;
  font-weight: 200;
}