
.hero {
  position: relative;
  background: var(--hero-gradient);
  padding: 120px 1.5rem 3rem;
  text-align: center;
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
  overflow: hidden;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 10% 8% 5% 8%;
  pointer-events: none;
}

.hero__content {
  position: relative;
  z-index: 10;
  width: 100%;
}

.hero__title {
  font-family: "Bebas Neue";
  font-size: 4rem !important;
  font-weight: 400;
  line-height: 4.5rem;
  color: var(--white);
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.hero__subtitle {
  font-family: "Bebas Neue";
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-titre-s);
  color: var(--white);
  margin-bottom: 0.5rem;
  font-weight: 300;
}

.hero__description {
  flex: 1 0 0;
  font-family: "Bebas Neue";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-texte-m);
  color: var(--white);
  margin-bottom: 1.5rem;
  font-weight: 300;
}

.hero__placeholder {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero__placeholder img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .hero {
    padding: 100px 1rem 2rem;
    min-height: 60vh;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__subtitle {
    font-size: 1.25rem;
  }

  .hero__placeholder img {
    max-height: 200px;
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.10);
  }
}

.infos-hero::before,
.contact-hero::before {
    content: none;
}

.infos-hero,
.contact-hero {
    background: var(--hero-gradient);
}
